.page {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.create-account {
  min-height: 100vh;
  padding: 50px;
  padding-top: 265px;
  background-image: url("../img/grow.png");
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
}

.arrow {
  width: 60px;
  position: relative;
  top: -45px;
  left: -40px;
  margin-bottom: -50px;
  transform: rotate(-20deg);
}

/* link facebook */
.link-facebook {
  min-height: 100vh;
  padding: 50px;
  background-image: url("../img/link-facebook.png");
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
}

.flipped-arrow {
  width: 50px;
  position: relative;
  top: -69px;
  left: unset;
  right: -200px;
  margin-bottom: -50px;
  transform: rotateY(180deg);
}

/* click submit */
.sm-arrow {
  width: 60px;
  top: -40px;
  left: -40px;
}

/* credit card */
input[type="radio"] {
  display: none;
}

.page.min-h-screen.overflow-y-auto {
  overflow-y: scroll;
}

input[type="radio"]:checked + label {
  border: 2px solid #5554f5;
  color: #5554f5;
}

@media screen and (max-width: 700px) {
  .create-account {
    padding: 10px;
    padding-top: 200px;
    background-size: 100% 100%;
    min-height: auto;
  }
  .arrow {
    width: 50px;
    top: -30px;
    left: -30px;
    margin-bottom: -30px;
  }
  input {
    font-size: 12px;
  }

  .link-facebook {
    padding: 10px;
  }

  .flipped-arrow {
    width: 25px !important;
    position: relative;
    top: -50px;
    left: unset !important;
    right: -135px;
    margin-bottom: -50px;
    transform: rotateY(180deg);
  }
  .link-facebook.relative.bg-cover {
    background-size: cover !important;
  }
}
